<%- include("partials/header") %> 

 <h1> <%= postHeading %> </h1>

 <p> <%= postContent %>  </p>

 <div class="compose">
    <a role="button" href="/" class="btn btn-primary">Go Back</a>
</div>

<%- include("partials/footer") %> 